In [5]:
my_list = [20, 50, 70, 80, 90, 40]

In [7]:
print(my_list)

[20, 50, 70, 80, 90, 40]

In [9]:
# interating over list
for x in my_list: 
    print(x)

20
50
70
80
90
40

In [13]:
for x, y in enumerate(my_list):
    print(f"index {x}: {y}")

index 0: 20
index 1: 50
index 2: 70
index 3: 80
index 4: 90
index 5: 40

In [15]:
for x, y in enumerate(my_list):
    print(f"Room {x+1}: {y}")

Room 1: 20
Room 2: 50
Room 3: 70
Room 4: 80
Room 5: 90
Room 6: 40

In [17]:
import numpy as np

In [19]:
my_list = [56, 18, 24, 19, 20, 62]
np_weight = np.array(my_list)

In [21]:
print(np_weight)

[56 18 24 19 20 62]

In [29]:
for x in np.nditer(np_weight) :
    print(x)

56
18
24
19
20
62

In [31]:
for index, value in np.ndenumerate(np_weight):
    print(f"Position {index}: {value}")

Position (0,): 56
Position (1,): 18
Position (2,): 24
Position (3,): 19
Position (4,): 20
Position (5,): 62

In [33]:
size = [['Kitchen', 20],
       ['Bedroom', 40],
       ['Hallway', 30],
       ['Parlor', 50],
       ['Dinning', 60]]

In [35]:
print(size)

[['Kitchen', 20], ['Bedroom', 40], ['Hallway', 30], ['Parlor', 50], ['Dinning', 60]]

In [37]:
for x, y in size :
    print(x, y)

Kitchen 20
Bedroom 40
Hallway 30
Parlor 50
Dinning 60

In [39]:
for x, y in size :
    print(f"the size of {x} is {y}")

the size of Kitchen is 20
the size of Bedroom is 40
the size of Hallway is 30
the size of Parlor is 50
the size of Dinning is 60

In [41]:
nigeria = {"Imo": "Owerri",
          "Delta" : "Asaba",
          "Edo": "Benin",
          "Lagos": "Ikega",
          "Ibadan": "Oyo"}

In [43]:
print(nigeria)

{'Imo': 'Owerri', 'Delta': 'Asaba', 'Edo': 'Benin', 'Lagos': 'Ikega', 'Ibadan': 'Oyo'}

In [45]:
print(type(nigeria))

<class 'dict'>

In [49]:
for state, capital in nigeria.items():
    print(f"the capital {state} is {capital}")

the capital Imo is Owerri
the capital Delta is Asaba
the capital Edo is Benin
the capital Lagos is Ikega
the capital Ibadan is Oyo

In [51]:
# Import pandas library
import pandas as pd
import numpy as np

# Create a sample DataFrame with 4 columns
data = {
    'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
    'Age': [28, 34, 42, 31, 25],
    'Salary': [65000, 78000, 120000, 95000, 54000],
    'Department': ['HR', 'Marketing', 'Engineering', 'Sales', 'IT']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age  Salary   Department
0     John   28   65000           HR
1     Emma   34   78000    Marketing
2  Michael   42  120000  Engineering
3   Sophia   31   95000        Sales
4  William   25   54000           IT

In [107]:
import pandas as pd

# Creating a DataFrame with country information
countries_data = {
    'Country': ['United States', 'China', 'India', 'Brazil', 'Russia', 'Japan', 
                'Germany', 'United Kingdom', 'France', 'Italy'],
    'Capital': ['Washington D.C.', 'Beijing', 'New Delhi', 'Bras√≠lia', 'Moscow', 
                'Tokyo', 'Berlin', 'London', 'Paris', 'Rome'],
    'Continent': ['North America', 'Asia', 'Asia', 'South America', 'Europe/Asia', 
                  'Asia', 'Europe', 'Europe', 'Europe', 'Europe'],
    'Population_M': [331.0, 1441.0, 1380.0, 212.6, 145.9, 126.5, 83.2, 67.9, 65.3, 60.5],
    'Area_sqkm': [9833517, 9596961, 3287263, 8515767, 17098246, 377975, 357114, 243610, 551695, 301340]
}

# Define country codes to use as index
country_codes = ['US', 'CN', 'IN', 'BR', 'RU', 'JP', 'DE', 'GB', 'FR', 'IT']

# Create the DataFrame first
countries_df = pd.DataFrame(countries_data)

# Set the country codes as the index
countries_df.index = country_codes

# Display the DataFrame
print(countries_df)

           Country          Capital      Continent  Population_M  Area_sqkm
US   United States  Washington D.C.  North America         331.0    9833517
CN           China          Beijing           Asia        1441.0    9596961
IN           India        New Delhi           Asia        1380.0    3287263
BR          Brazil         Bras√≠lia  South America         212.6    8515767
RU          Russia           Moscow    Europe/Asia         145.9   17098246
JP           Japan            Tokyo           Asia         126.5     377975
DE         Germany           Berlin         Europe          83.2     357114
GB  United Kingdom           London         Europe          67.9     243610
FR          France            Paris         Europe          65.3     551695
IT           Italy             Rome         Europe          60.5     301340

In [109]:
print(countries_df.loc[["US"], ['Country', 'Population_M']])

          Country  Population_M
US  United States         331.0

In [111]:
print(countries_df.loc[['US', 'CN'], ['Country', 'Population_M']])

          Country  Population_M
US  United States         331.0
CN          China        1441.0

In [113]:
print(countries_df.loc[['US', 'CN','IN', 'RU'], ['Country', 'Population_M']])

          Country  Population_M
US  United States         331.0
CN          China        1441.0
IN          India        1380.0
RU         Russia         145.9

In [115]:
print(countries_df.loc[["US"], ['Country', 'Capital', 'Population_M']])

          Country          Capital  Population_M
US  United States  Washington D.C.         331.0

In [117]:
print(countries_df.loc["US", ['Country', 'Capital', 'Population_M']])

Country           United States
Capital         Washington D.C.
Population_M              331.0
Name: US, dtype: object

In [119]:
print(countries_df.loc[:, ['Country', 'Capital', 'Population_M']])

           Country          Capital  Population_M
US   United States  Washington D.C.         331.0
CN           China          Beijing        1441.0
IN           India        New Delhi        1380.0
BR          Brazil         Bras√≠lia         212.6
RU          Russia           Moscow         145.9
JP           Japan            Tokyo         126.5
DE         Germany           Berlin          83.2
GB  United Kingdom           London          67.9
FR          France            Paris          65.3
IT           Italy             Rome          60.5

In [121]:
print(countries_df.loc[['US', 'CN'], :])

          Country          Capital      Continent  Population_M  Area_sqkm
US  United States  Washington D.C.  North America         331.0    9833517
CN          China          Beijing           Asia        1441.0    9596961

In [123]:
print(countries_df.loc['US', 'Population_M'])

331.0

In [129]:
print(countries_df.loc['JP', 'Population_M'])

126.5

In [131]:
# for lab, row in countries_df.iterrows():
# countries_df.loc[lab, 'COUNTRY'] = row['Country'].upper()

In [134]:
print(countries_df)

           Country          Capital      Continent  Population_M  Area_sqkm
US   United States  Washington D.C.  North America         331.0    9833517
CN           China          Beijing           Asia        1441.0    9596961
IN           India        New Delhi           Asia        1380.0    3287263
BR          Brazil         Bras√≠lia  South America         212.6    8515767
RU          Russia           Moscow    Europe/Asia         145.9   17098246
JP           Japan            Tokyo           Asia         126.5     377975
DE         Germany           Berlin         Europe          83.2     357114
GB  United Kingdom           London         Europe          67.9     243610
FR          France            Paris         Europe          65.3     551695
IT           Italy             Rome         Europe          60.5     301340

In [136]:
countries_df['COUNTRY'] = countries_df['Country'].str.upper()

In [138]:
print(countries_df)

           Country          Capital      Continent  Population_M  Area_sqkm  \
US   United States  Washington D.C.  North America         331.0    9833517
CN           China          Beijing           Asia        1441.0    9596961
IN           India        New Delhi           Asia        1380.0    3287263
BR          Brazil         Bras√≠lia  South America         212.6    8515767
RU          Russia           Moscow    Europe/Asia         145.9   17098246
JP           Japan            Tokyo           Asia         126.5     377975
DE         Germany           Berlin         Europe          83.2     357114
GB  United Kingdom           London         Europe          67.9     243610
FR          France            Paris         Europe          65.3     551695
IT           Italy             Rome         Europe          60.5     301340

           COUNTRY
US   UNITED STATES
CN           CHINA
IN           INDIA
BR          BRAZIL
RU          RUSSIA
JP           JAPAN
DE         GERMANY
GB  UNITED KINGDOM
FR          FRANCE
IT           ITALY

In [2]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [4]:
print(ind_ger)

2

In [6]:
print(capitals[2])

berlin

## Slicing and Indexing DataFrame

In [25]:
import pandas as pd

# Create a sample temperatures DataFrame
data = {
    "country": ["Russia", "Russia", "Brazil", "Pakistan", "Russia", "Brazil"],
    "city": ["Moscow", "Saint Petersburg", "Rio De Janeiro", "Lahore", "Moscow", "Rio De Janeiro"],
    "date": ["2021-01-01", "2021-01-01", "2021-01-01", "2021-01-01", "2021-01-02", "2021-01-02"],
    "temperature_c": [-5.0, -10.0, 25.0, 15.0, -3.0, 26.0]
}

temperatures = pd.DataFrame(data)

# Show the sample DataFrame
print("Original temperatures DataFrame:")
print(temperatures)

Original temperatures DataFrame:
    country              city        date  temperature_c
0    Russia            Moscow  2021-01-01           -5.0
1    Russia  Saint Petersburg  2021-01-01          -10.0
2    Brazil    Rio De Janeiro  2021-01-01           25.0
3  Pakistan            Lahore  2021-01-01           15.0
4    Russia            Moscow  2021-01-02           -3.0
5    Brazil    Rio De Janeiro  2021-01-02           26.0

In [27]:
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset using square brackets
print("\nSubset using square brackets (city in ['Moscow', 'Saint Petersburg']):")
print(temperatures[temperatures["city"].isin(cities)])

Subset using square brackets (city in ['Moscow', 'Saint Petersburg']):
  country              city        date  temperature_c
0  Russia            Moscow  2021-01-01           -5.0
1  Russia  Saint Petersburg  2021-01-01          -10.0
4  Russia            Moscow  2021-01-02           -3.0

In [29]:
# Index by country and city
temperatures_ind = temperatures.set_index(["country", "city"])
print(temperatures_ind)

                                 date  temperature_c
country  city
Russia   Moscow            2021-01-01           -5.0
         Saint Petersburg  2021-01-01          -10.0
Brazil   Rio De Janeiro    2021-01-01           25.0
Pakistan Lahore            2021-01-01           15.0
Russia   Moscow            2021-01-02           -3.0
Brazil   Rio De Janeiro    2021-01-02           26.0

In [31]:
# Subset using .loc[] with cities
print("\nSubset using .loc[] with city names (only works if city is a single index level):")
print(temperatures_ind.loc[("Russia", "Moscow")])  # example for 1 row

Subset using .loc[] with city names (only works if city is a single index level):
                      date  temperature_c
country city
Russia  Moscow  2021-01-01           -5.0
        Moscow  2021-01-02           -3.0

C:\Users\NAS\AppData\Local\Temp\ipykernel_10628\4182256053.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  print(temperatures_ind.loc[("Russia", "Moscow")])  # example for 1 row

In [33]:
# List of country-city pairs
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for specific country/city pairs
print("\nSubset using .loc[] with multiple (country, city) pairs:")
print(temperatures_ind.loc[rows_to_keep])

Subset using .loc[] with multiple (country, city) pairs:
                               date  temperature_c
country  city
Brazil   Rio De Janeiro  2021-01-01           25.0
         Rio De Janeiro  2021-01-02           26.0
Pakistan Lahore          2021-01-01           15.0

In [35]:
print(temperatures_ind.loc[[("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]])

                               date  temperature_c
country  city
Brazil   Rio De Janeiro  2021-01-01           25.0
         Rio De Janeiro  2021-01-02           26.0
Pakistan Lahore          2021-01-01           15.0

In [37]:
# Sort the index of the DataFrame so we can do label-based slicing
temperatures_srt = temperatures_ind.sort_index()

# Subset all rows starting from the first country = 'Pakistan' to the last country = 'Russia'
# This works because the index is sorted, and it uses only the first level of the MultiIndex (country)
print(temperatures_srt.loc['Pakistan':'Russia'])

                                 date  temperature_c
country  city
Pakistan Lahore            2021-01-01           15.0
Russia   Moscow            2021-01-01           -5.0
         Moscow            2021-01-02           -3.0
         Saint Petersburg  2021-01-01          -10.0

In [39]:
# Try to subset rows from 'Lahore' to 'Moscow'
# This will raise an error because the index is MultiIndex (country, city),
# and 'Lahore' and 'Moscow' are not valid keys at the top (country) level
print(temperatures_srt.loc['Lahore':'Moscow'])

Empty DataFrame
Columns: [date, temperature_c]
Index: []

In [45]:
# Correct way: Subset rows from ('Pakistan', 'Lahore') to ('Russia', 'Moscow')
# This accesses the MultiIndex properly using tuples
print(temperatures_srt.loc[('Pakistan', 'Lahore'):('Russia', 'Moscow')])

                       date  temperature_c
country  city
Pakistan Lahore  2021-01-01           15.0
Russia   Moscow  2021-01-01           -5.0
         Moscow  2021-01-02           -3.0

In [47]:
print(temperatures_srt.loc[[('Pakistan', 'Lahore'),('Russia', 'Moscow')]])

                       date  temperature_c
country  city
Pakistan Lahore  2021-01-01           15.0
Russia   Moscow  2021-01-01           -5.0
         Moscow  2021-01-02           -3.0

In [49]:
import pandas as pd

# Step 1: Create the initial DataFrame with country and city as columns
data = {
    "country": ["Pakistan", "Pakistan", "Brazil", "Brazil", "Russia", "Russia"],
    "city": ["Lahore", "Multan", "Rio De Janeiro", "S√£o Paulo", "Moscow", "Saint Petersburg"],
    "temperature_c": [15.0, 16.5, 25.0, 26.0, -5.0, -3.0]
}

temperatures = pd.DataFrame(data)

# Step 2: Set the index to ["country", "city"]
temperatures_ind = temperatures.set_index(["country", "city"])

# Step 3: Sort the index to enable slicing
temperatures_srt = temperatures_ind.sort_index()

# Step 4: Print the full DataFrame
print("FULL DataFrame:\n")
print(temperatures_srt)

FULL DataFrame:

                           temperature_c
country  city
Brazil   Rio De Janeiro             25.0
         S√£o Paulo                  26.0
Pakistan Lahore                     15.0
         Multan                     16.5
Russia   Moscow                     -5.0
         Saint Petersburg           -3.0

In [51]:
# Step 5: Range slicing from ('Pakistan', 'Lahore') to ('Russia', 'Moscow')
print("\n--- Range slice from ('Pakistan', 'Lahore') to ('Russia', 'Moscow') ---")
print(temperatures_srt.loc[('Pakistan', 'Lahore'):('Russia', 'Moscow')])

--- Range slice from ('Pakistan', 'Lahore') to ('Russia', 'Moscow') ---
                 temperature_c
country  city
Pakistan Lahore           15.0
         Multan           16.5
Russia   Moscow           -5.0

In [53]:
# Step 6: Selecting exact rows using a list of tuples
print("\n--- Exact match for just ('Pakistan', 'Lahore') and ('Russia', 'Moscow') ---")
print(temperatures_srt.loc[[('Pakistan', 'Lahore'), ('Russia', 'Moscow')]])

--- Exact match for just ('Pakistan', 'Lahore') and ('Russia', 'Moscow') ---
                 temperature_c
country  city
Pakistan Lahore           15.0
Russia   Moscow           -5.0

In [55]:
import pandas as pd

# Create a sample DataFrame with country, city, date, and avg_temp_c
data = {
    "country": ["India", "India", "Iraq", "Iraq", "Russia", "Russia"],
    "city": ["Hyderabad", "Delhi", "Baghdad", "Basra", "Moscow", "Saint Petersburg"],
    "date": ["2021-01-01", "2021-01-02", "2021-01-01", "2021-01-02", "2021-01-01", "2021-01-02"],
    "avg_temp_c": [28, 30, 15, 18, -5, -3]
}

# Create the DataFrame and set the index to ["country", "city"]
temperatures = pd.DataFrame(data)
print(temperatures)

  country              city        date  avg_temp_c
0   India         Hyderabad  2021-01-01          28
1   India             Delhi  2021-01-02          30
2    Iraq           Baghdad  2021-01-01          15
3    Iraq             Basra  2021-01-02          18
4  Russia            Moscow  2021-01-01          -5
5  Russia  Saint Petersburg  2021-01-02          -3

In [57]:
temperatures_srt = temperatures.set_index(["country", "city"]).sort_index()

# Show the full DataFrame and apply the subsetting operations
print("Full DataFrame (temperatures_srt):")
print(temperatures_srt)

Full DataFrame (temperatures_srt):
                                date  avg_temp_c
country city
India   Delhi             2021-01-02          30
        Hyderabad         2021-01-01          28
Iraq    Baghdad           2021-01-01          15
        Basra             2021-01-02          18
Russia  Moscow            2021-01-01          -5
        Saint Petersburg  2021-01-02          -3

In [59]:
# Subset from ("India", "Hyderabad") to ("Iraq", "Baghdad")
print("\n--- Subset from ('India', 'Hyderabad') to ('Iraq', 'Baghdad') ---")
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad")])

--- Subset from ('India', 'Hyderabad') to ('Iraq', 'Baghdad') ---
                         date  avg_temp_c
country city
India   Hyderabad  2021-01-01          28
Iraq    Baghdad    2021-01-01          15

In [61]:
# Subset from ("India", "Hyderabad") to ("Iraq", "Baghdad")
print("\n--- Subset from ('India', 'Delhi') to ('Iraq', 'Baghdad') ---")
print(temperatures_srt.loc[("India", "Delhi"):("Iraq", "Baghdad")])

--- Subset from ('India', 'Delhi') to ('Iraq', 'Baghdad') ---
                         date  avg_temp_c
country city
India   Delhi      2021-01-02          30
        Hyderabad  2021-01-01          28
Iraq    Baghdad    2021-01-01          15

In [63]:
# Subset columns from "date" to "avg_temp_c" for all rows
print("\n--- Subset columns from 'date' to 'avg_temp_c' ---")
print(temperatures_srt.loc[:, "date":"avg_temp_c"])

--- Subset columns from 'date' to 'avg_temp_c' ---
                                date  avg_temp_c
country city
India   Delhi             2021-01-02          30
        Hyderabad         2021-01-01          28
Iraq    Baghdad           2021-01-01          15
        Basra             2021-01-02          18
Russia  Moscow            2021-01-01          -5
        Saint Petersburg  2021-01-02          -3

In [65]:
# Subset both rows (range) and columns ("date" to "avg_temp_c")
print("\n--- Subset both rows and columns ---")
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad"), "date":"avg_temp_c"])

--- Subset both rows and columns ---
                         date  avg_temp_c
country city
India   Hyderabad  2021-01-01          28
Iraq    Baghdad    2021-01-01          15

In [67]:
import pandas as pd

# Create the sample DataFrame with dates and temperatures
data = {
    "country": ["India", "India", "Iraq", "Iraq", "Russia", "Russia"],
    "city": ["Hyderabad", "Delhi", "Baghdad", "Basra", "Moscow", "Saint Petersburg"],
    "date": ["2009-12-25", "2010-01-02", "2010-06-15", "2011-03-10", "2011-12-05", "2012-01-01"],
    "avg_temp_c": [28, 30, 15, 18, -5, -3]
}

# Create the DataFrame
temperatures = pd.DataFrame(data)

# Convert the 'date' column to datetime format
temperatures['date'] = pd.to_datetime(temperatures['date'])
print(temperatures)

  country              city       date  avg_temp_c
0   India         Hyderabad 2009-12-25          28
1   India             Delhi 2010-01-02          30
2    Iraq           Baghdad 2010-06-15          15
3    Iraq             Basra 2011-03-10          18
4  Russia            Moscow 2011-12-05          -5
5  Russia  Saint Petersburg 2012-01-01          -3

In [69]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures['date'] >= "2010-01-01") & (temperatures['date'] <= "2011-12-31")]
print("Subset for 2010 and 2011 (using Boolean conditions):")
print(temperatures_bool)

Subset for 2010 and 2011 (using Boolean conditions):
  country     city       date  avg_temp_c
1   India    Delhi 2010-01-02          30
2    Iraq  Baghdad 2010-06-15          15
3    Iraq    Basra 2011-03-10          18
4  Russia   Moscow 2011-12-05          -5

In [71]:
# Set date as the index and sort the index
temperatures_ind = temperatures.set_index('date').sort_index()
print(temperatures_ind)

           country              city  avg_temp_c
date
2009-12-25   India         Hyderabad          28
2010-01-02   India             Delhi          30
2010-06-15    Iraq           Baghdad          15
2011-03-10    Iraq             Basra          18
2011-12-05  Russia            Moscow          -5
2012-01-01  Russia  Saint Petersburg          -3

In [73]:
# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print("\nSubset for 2010 and 2011 (using .loc[] after setting date as index):")
print(temperatures_ind.loc["2010":"2011"])

Subset for 2010 and 2011 (using .loc[] after setting date as index):
           country     city  avg_temp_c
date
2010-01-02   India    Delhi          30
2010-06-15    Iraq  Baghdad          15
2011-03-10    Iraq    Basra          18
2011-12-05  Russia   Moscow          -5

In [75]:
# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print("\nSubset from Aug 2010 to Feb 2011 (using .loc[]):")
print(temperatures_ind.loc["2010-08":"2011-02"])

Subset from Aug 2010 to Feb 2011 (using .loc[]):
Empty DataFrame
Columns: [country, city, avg_temp_c]
Index: []

In [81]:
import pandas as pd

# Create a DataFrame with 24 rows
data = {
    "country": ["India", "India", "Iraq", "Iraq", "Russia", "Russia", "Brazil", "Brazil", "Pakistan", "Pakistan", 
                "China", "China", "USA", "USA", "Mexico", "Mexico", "Canada", "Canada", "France", "France", 
                "Germany", "Germany", "Italy", "Italy", "UK", "UK"],
    "city": ["Hyderabad", "Delhi", "Baghdad", "Basra", "Moscow", "Saint Petersburg", "Rio De Janeiro", "Sao Paulo",
             "Lahore", "Karachi", "Beijing", "Shanghai", "New York", "Los Angeles", "Mexico City", "Guadalajara",
             "Toronto", "Vancouver", "Paris", "Marseille", "Berlin", "Munich", "Rome", "Milan", "London", "Manchester"],
    "date": ["2009-12-25", "2010-01-02", "2010-06-15", "2011-03-10", "2011-12-05", "2012-01-01", "2010-03-05", "2010-08-15",
             "2011-05-22", "2012-03-01", "2009-11-17", "2010-07-12", "2011-12-14", "2012-01-20", "2010-02-09", "2011-04-30",
             "2009-10-12", "2010-06-17", "2011-07-01", "2012-02-13", "2009-08-22", "2010-11-18", "2011-10-10", "2012-03-12", "2010-09-05", "2011-02-28"],
    "avg_temp_c": [28, 30, 15, 18, -5, -3, 25, 26, 28, 27, 32, 33, 15, 17, 23, 25, 20, 22, 14, 16, 10, 12, 18, 20, 32, 25]
}

# Create the DataFrame
temperatures = pd.DataFrame(data)

# Convert the 'date' column to datetime format
temperatures['date'] = pd.to_datetime(temperatures['date'])
print(temperatures)

     country              city       date  avg_temp_c
0      India         Hyderabad 2009-12-25          28
1      India             Delhi 2010-01-02          30
2       Iraq           Baghdad 2010-06-15          15
3       Iraq             Basra 2011-03-10          18
4     Russia            Moscow 2011-12-05          -5
5     Russia  Saint Petersburg 2012-01-01          -3
6     Brazil    Rio De Janeiro 2010-03-05          25
7     Brazil         Sao Paulo 2010-08-15          26
8   Pakistan            Lahore 2011-05-22          28
9   Pakistan           Karachi 2012-03-01          27
10     China           Beijing 2009-11-17          32
11     China          Shanghai 2010-07-12          33
12       USA          New York 2011-12-14          15
13       USA       Los Angeles 2012-01-20          17
14    Mexico       Mexico City 2010-02-09          23
15    Mexico       Guadalajara 2011-04-30          25
16    Canada           Toronto 2009-10-12          20
17    Canada         Vancouver 2010-06-17          22
18    France             Paris 2011-07-01          14
19    France         Marseille 2012-02-13          16
20   Germany            Berlin 2009-08-22          10
21   Germany            Munich 2010-11-18          12
22     Italy              Rome 2011-10-10          18
23     Italy             Milan 2012-03-12          20
24        UK            London 2010-09-05          32
25        UK        Manchester 2011-02-28          25

In [87]:
# Print the element at row 22, column 1
print(temperatures.iloc[22, 1])

Rome

In [89]:
# Use slicing to get the first 5 rows
print("\nFirst 5 rows:")
print(temperatures.iloc[0:5])

First 5 rows:
  country       city       date  avg_temp_c
0   India  Hyderabad 2009-12-25          28
1   India      Delhi 2010-01-02          30
2    Iraq    Baghdad 2010-06-15          15
3    Iraq      Basra 2011-03-10          18
4  Russia     Moscow 2011-12-05          -5

In [91]:
# Use slicing to get columns 3 to 4
print("\nColumns 3 to 4:")
print(temperatures.iloc[:, 2:4])

Columns 3 to 4:
         date  avg_temp_c
0  2009-12-25          28
1  2010-01-02          30
2  2010-06-15          15
3  2011-03-10          18
4  2011-12-05          -5
5  2012-01-01          -3
6  2010-03-05          25
7  2010-08-15          26
8  2011-05-22          28
9  2012-03-01          27
10 2009-11-17          32
11 2010-07-12          33
12 2011-12-14          15
13 2012-01-20          17
14 2010-02-09          23
15 2011-04-30          25
16 2009-10-12          20
17 2010-06-17          22
18 2011-07-01          14
19 2012-02-13          16
20 2009-08-22          10
21 2010-11-18          12
22 2011-10-10          18
23 2012-03-12          20
24 2010-09-05          32
25 2011-02-28          25

In [93]:
# Use slicing in both directions at once (first 5 rows and columns 3 to 4)
print("\nFirst 5 rows and columns 3 to 4:")
print(temperatures.iloc[0:5, 2:4])

First 5 rows and columns 3 to 4:
        date  avg_temp_c
0 2009-12-25          28
1 2010-01-02          30
2 2010-06-15          15
3 2011-03-10          18
4 2011-12-05          -5

### Pivot table by country and city

In [96]:
import pandas as pd

# Sample DataFrame with 24 rows
data = {
    "country": ["India", "India", "Iraq", "Iraq", "Russia", "Russia", "Brazil", "Brazil", "Pakistan", "Pakistan", 
                "China", "China", "USA", "USA", "Mexico", "Mexico", "Canada", "Canada", "France", "France", 
                "Germany", "Germany", "Italy", "Italy"],
    "city": ["Hyderabad", "Delhi", "Baghdad", "Basra", "Moscow", "Saint Petersburg", "Rio De Janeiro", "Sao Paulo",
             "Lahore", "Karachi", "Beijing", "Shanghai", "New York", "Los Angeles", "Mexico City", "Guadalajara",
             "Toronto", "Vancouver", "Paris", "Marseille", "Berlin", "Munich", "Rome", "Milan"],
    "date": ["2009-12-25", "2010-01-02", "2010-06-15", "2011-03-10", "2011-12-05", "2012-01-01", "2010-03-05", "2010-08-15",
             "2011-05-22", "2012-03-01", "2009-11-17", "2010-07-12", "2011-12-14", "2012-01-20", "2010-02-09", "2011-04-30",
             "2009-10-12", "2010-06-17", "2011-07-01", "2012-02-13", "2009-08-22", "2010-11-18", "2011-10-10", "2012-03-12"],
    "avg_temp_c": [28, 30, 15, 18, -5, -3, 25, 26, 28, 27, 32, 33, 15, 17, 23, 25, 20, 22, 14, 16, 10, 12, 18, 20]
}

# Create the DataFrame
temperatures = pd.DataFrame(data)

# Convert 'date' column to datetime
temperatures['date'] = pd.to_datetime(temperatures['date'])

# Add a 'year' column
temperatures['year'] = temperatures['date'].dt.year
print(temperatures)

     country              city       date  avg_temp_c  year
0      India         Hyderabad 2009-12-25          28  2009
1      India             Delhi 2010-01-02          30  2010
2       Iraq           Baghdad 2010-06-15          15  2010
3       Iraq             Basra 2011-03-10          18  2011
4     Russia            Moscow 2011-12-05          -5  2011
5     Russia  Saint Petersburg 2012-01-01          -3  2012
6     Brazil    Rio De Janeiro 2010-03-05          25  2010
7     Brazil         Sao Paulo 2010-08-15          26  2010
8   Pakistan            Lahore 2011-05-22          28  2011
9   Pakistan           Karachi 2012-03-01          27  2012
10     China           Beijing 2009-11-17          32  2009
11     China          Shanghai 2010-07-12          33  2010
12       USA          New York 2011-12-14          15  2011
13       USA       Los Angeles 2012-01-20          17  2012
14    Mexico       Mexico City 2010-02-09          23  2010
15    Mexico       Guadalajara 2011-04-30          25  2011
16    Canada           Toronto 2009-10-12          20  2009
17    Canada         Vancouver 2010-06-17          22  2010
18    France             Paris 2011-07-01          14  2011
19    France         Marseille 2012-02-13          16  2012
20   Germany            Berlin 2009-08-22          10  2009
21   Germany            Munich 2010-11-18          12  2010
22     Italy              Rome 2011-10-10          18  2011
23     Italy             Milan 2012-03-12          20  2012

In [98]:
# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(
    values='avg_temp_c',
    index=['country', 'city'],
    columns='year'
)

# Print the pivoted table
print(temp_by_country_city_vs_year)

year                       2009  2010  2011  2012
country  city
Brazil   Rio De Janeiro     NaN  25.0   NaN   NaN
         Sao Paulo          NaN  26.0   NaN   NaN
Canada   Toronto           20.0   NaN   NaN   NaN
         Vancouver          NaN  22.0   NaN   NaN
China    Beijing           32.0   NaN   NaN   NaN
         Shanghai           NaN  33.0   NaN   NaN
France   Marseille          NaN   NaN   NaN  16.0
         Paris              NaN   NaN  14.0   NaN
Germany  Berlin            10.0   NaN   NaN   NaN
         Munich             NaN  12.0   NaN   NaN
India    Delhi              NaN  30.0   NaN   NaN
         Hyderabad         28.0   NaN   NaN   NaN
Iraq     Baghdad            NaN  15.0   NaN   NaN
         Basra              NaN   NaN  18.0   NaN
Italy    Milan              NaN   NaN   NaN  20.0
         Rome               NaN   NaN  18.0   NaN
Mexico   Guadalajara        NaN   NaN  25.0   NaN
         Mexico City        NaN  23.0   NaN   NaN
Pakistan Karachi            NaN   NaN   NaN  27.0
         Lahore             NaN   NaN  28.0   NaN
Russia   Moscow             NaN   NaN  -5.0   NaN
         Saint Petersburg   NaN   NaN   NaN  -3.0
USA      Los Angeles        NaN   NaN   NaN  17.0
         New York           NaN   NaN  15.0   NaN

In [100]:
# Subset for Egypt to India
temp_by_country_city_vs_year.loc['Egypt':'India']

# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[('Egypt', 'Cairo'):('India', 'Delhi')]

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[('Egypt', 'Cairo'):('India', 'Delhi'),
                                  '2005':'2010']

year               2009  2010
country city
France  Marseille   NaN   NaN
        Paris       NaN   NaN
Germany Berlin     10.0   NaN
        Munich      NaN  12.0
India   Delhi       NaN  30.0

In [5]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis=1)

# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])

NameError: name 'temp_by_country_city_vs_year' is not defined

In [2]:
pip install jupyterlab-hide-code

Collecting jupyterlab-hide-codeNote: you may need to restart the kernel to use updated packages.

  Downloading jupyterlab_hide_code-4.0.0-py3-none-any.whl.metadata (6.3 kB)
Downloading jupyterlab_hide_code-4.0.0-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.3 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.3 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.3 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.3 kB 122.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.3 kB 122.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.3 kB 122.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.3 kB 122.9 kB/s eta 0:00:01
   ---------------------------------------- 45.3/45.3 kB 68.0 kB/s eta 0:00:00
Installing collected packages: jupyterlab-hide-code
Successfully installed jupyterlab-hide-code-4.0.0